<div *ngIf='data; else noDataForm'>
    <mat-grid-list cols="10" rowHeight="1:2" [gutterSize]='10'>
        <mat-grid-tile [colspan]='2' *ngFor='let anime of data' (click)='onSelect(anime)'>
            <!-- <app-anime-detail class="detail" [anime]='anime'></app-anime-detail> -->
            <div class="parent">
                <div class="image">
                    <img src="{{anime.imgSrc}}" alt="{{anime.name}}">
                </div>
                <div class="name">
                    <b>{{anime.name}}</b>
                </div>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</div>

<ng-template #noDataForm>
    <h2>There is no data to show.</h2>
</ng-template>